@model IEnumerable<PROYECTO_BICICLETAS.Models.Producto>

@{
    ViewData["Title"] = "Catalogo de Bicicletas";
}
<h1 style="text-align:center;">Catalogo de Bicicletas</h1>
<br>
<body class="back">
  <nav aria-label="breadcrumb">
    <ol class="nav">
      <li class="breadcrumb-item"><a href="/Home/Index">Inicio</a></li>
      <li class="breadcrumb-item active" aria-current="page">Catalogo</li>
    </ol>
  </nav>
  <br>

  <div class="container">
    <div class="row">
      @foreach (var item in Model)
      { 
    
      <div class="col-sm-4">
        <div class="card mb-3">
          <div class="card-body">
            <div class="card-img-actions" align="center">
              <img class="img-responsive" width="190" height="200" src="/img/@item.Image"
                  alt="@item.Image" />
            </div>
          </div>
          <div class="card-body co fo" >
            <h5 class="card-title " >@Html.DisplayFor(modelItem => item.Name)</h5>
              <p class="card-text " >Precio: S/.@Html.DisplayFor(modelItem => item.Price)</p>
              <p class="card-text">Categoria: @Html.DisplayFor(modelItem => item.Categoria)</p>
              <p class="card-text"> Stock: @Html.DisplayFor(modelItem => item.Amout) unidades</p> 
              <a class="btn btn-primary" asp-action="Add" asp-route-id="@item.Id" >Añadir</a>
              <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Detalle</a>
          </div>
        </div>
      </div>

   
      }
 
  </div>
</body>
    
  
  

  
 
